html {
  position: relative;
  min-height: 100%;
  background-color: rgba(211, 202, 184, 0.329);
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  padding: 0;
  line-height: 50px; /* Vertically center the text there */
  color: rgb(74, 198, 142);
  background-color: rgba(80, 79, 79, 0.575);
}

#logo {
  margin: 0 auto;
  padding: 0;
}


.background {
  background-image: url("https://res.cloudinary.com/sei412-om/image/upload/v1625164957/IMG_20200418_191358_shmwju.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 80vw;
  height: 80vh;
  border-radius: 5px;
}

.about-background {
  background-image: url("https://res.cloudinary.com/sei412-om/image/upload/v1625526121/IMG_20200531_151312_jb4jup.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 80vw;
  height: 80vh;
  border-radius: 5px;
}

.layer {
  background-color: rgba(244, 255, 223, 0.212);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-layer {
  background-color: rgba(244, 255, 223, 0.247);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#welcome-text {
  background-color: rgba(240, 237, 231, 0.856);
  margin: 30vh 15vw 0 15vw;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

#welcome-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(74,198,142);
}

#search {
  margin: 8px;
}

#loading {
  margin: 0 auto;
  margin-top: 1vh;
  width: 100vw;
  height: 80vh;
  border: none;
  font-size: 5rem;
  font-weight: bold;

}

.search-bar {
  padding: none;
}

.plant-content {
  margin: 10px;
  padding: 10px;
}

button {
  margin: 8px;
}

#back-button {
  border: none;
  background: none;
}

#desc,
#note {
  resize: none;
  width: 100%;
  height: 15vh;
}

#plant-show {
  min-width: 70vw;
  margin: 0 auto;
}

#sowing {
  resize: none;
  width: 100%;
  height: 5vh;
}

#url {
  resize: none;
  width: 100%;
  height: 5vh;
}

#form-title {
  font-size: 1.4rem;
  font-weight: 900;
  color: rgb(147,146,144);

}

#garden {
  padding-bottom: 15px;
}

.card-form {
  padding: 0;
  margin: 0 0 0 5px;
  width: 100%;
}

.card-del {
  background:none;
  margin: 0 auto;
  padding: 5px 30px 5px 20px;
  border: none;
  width: 100%;
}

.card-view {
  background:none;
  margin: 0 auto;
  padding: 5px 30px 5px 30px;
  border: none;
  width: 100%;
}